*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
}
.navbar{
    padding:5px;
    background-color:black;
}

.navbar .menu{
    overflow: auto;
}
.navbar .menu .bar{
    float: right;
    list-style: none;
    margin: 10px 10px;
}
.navbar .menu .logo{
    float: left;
    list-style: none;
    margin: 10px;
}
.navbar .menu .bar a{
    padding: 10px 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size:larger;
}
.navbar .menu .bar a:hover{
    background-color: white;
    color:brown;
    transition: 0.5s ease;
    border-radius: 7px;
}
.navbar .menu .logo a{
    padding: 10px;  
    text-decoration: none;
    color: lightcoral;
    font-size:larger;
    background-color: beige;
    height: 100%;
}
.foot{
    position:fixed;
    bottom:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 46%;    
}
.foot a{
    padding:10px;
}
.Hermione{
    align-items: center;
    justify-content: center;
}
.Oliver{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
}
.Tree{
    margin-top: 50px;
    border-radius: 5px;
}